<!-- footer -->
<!--<footer>-->
<!--  <div class="footer-layer py-sm-5 pt-5 pb-3">-->
<!--    <div class="container py-md-3">-->
<!--      <div class="footer-grid_section text-center">-->
<!--        <div class="footer-title mb-3">-->
<!--          <a href="#">Follow Us</a>-->
<!--        </div>-->
<!--        <div class="footer-text">-->
<!--          <p>-->
<!--            Like, subscribe share and comment on our social media platform below</p>-->
<!--        </div>-->
<!--        <ul class="social_section_1info">-->
<!--&lt;!&ndash;          <li class="mb-2 facebook"><a href="https://www.facebook.com/concepthubclasses/?ref=bookmarks" target="_blank"><fa-icon [icon]="faFacebook" [styles]="{'stroke': '#cccccc', 'color': '#cccccc'}"></fa-icon> </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="mb-2 twitter"><a href="https://twitter.com/CHCtanda"><fa-icon [icon]="faTwitter" [styles]="{'stroke': '#cccccc', 'color': '#cccccc'}"></fa-icon> </a></li>&ndash;&gt;-->
<!--          <li class="mb-2 linkedin"><a href="#"><fa-icon [icon]="faLinkedin" [styles]="{'stroke': '#cccccc', 'color': '#cccccc'}"></fa-icon> </a></li>-->
<!--&lt;!&ndash;          <li class="mb-2 linkedin"><a href="https://www.youtube.com/channel/UCHJRQ3zlrffYSClmgoylArw" target="_blank"><fa-icon [icon]="faInstagram" [styles]="{'stroke': '#cccccc', 'color': '#cccccc'}"></fa-icon> </a></li>&ndash;&gt;-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<!-- //footer -->

<!-- copyright -->
<section class="copyright">
  <div class="container py-4">
    <div class="row bottom">
      <ul class="col-lg-6 links p-0 ">
        <!--        <li><a href="#why" class="">Why Choose Us</a></li>-->
        <li><a routerLink="/about" class="text-white">About </a></li>
        <li><a routerLink="/services" class="text-white">Services </a></li>
        <li><a routerLink="/contact-us" class="text-white">Contact Us </a></li>
      </ul>
      <div class="col-lg-6 copy-right p-0">

        <p class="text-white">Copyright © 2020 All rights reserved by

          <a class="text-white" href="https://www.mwc-consultancy.com/"> MWC Consultancy.</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- //copyright -->

<!-- move top -->
<!--<div class="move-top text-right">-->
<!--  <a routerLink="/home" class="move-top">-->
<!--    <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>-->
<!--  </a>-->
<!--</div>-->
<!-- move top -->
