<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Business and Professional Education Services</h1>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border ftco-animate">
          <div class="img" style="background-image: url(../../assets/image_1.jpg);"></div>
          <div class="text">
            <h3>Business and Professional Education Services</h3>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Offering specialized management, personal development, financial and emerging technologies courses and training in order to help professionals and businesses to reach new levels of productivity, value and growth.</p>
            <p class="ml-5"><i class="fa fa-arrow-circle-o-right" style="font-size:18px; color: #ff8416"></i> For doing that, we will leverage upon our core competencies, industry knowledge and experiences, translating them into powerful, practical and relevant experiential learning solutions for the benefit of our clients.  </p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Advise our clients: on setting up professional educational institutions / turnaround of existing educational institutions; on use of distance learning /online/ virtual learning/ VR based teaching -learning tools and pedagogies.</p>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
