.constructionDowntimeImage{

  background-image: url("../../assets/under-Maintanance-page.jpg");
  height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.errorMsgDisplay{
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman";
  font-size: 22px;

}

