<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Business & Management Consultancy</h1>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border ftco-animate">
          <div class="img" style="background-image: url(../../assets/services.jpg);"></div>
          <div class="text">
            <h3>Business & Management Consultancy</h3>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Our corporate business and strategic management consultancy cover feasibility of entering new businesses or markets, business restructuring, formation of business entities, developing strategic operating model and organizational planning.</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Business performance evaluation and risk management advice and services address- all aspects of Business Continuity Management (BCM), Enterprise Risk Management (ERM) and Quality Management issues, its mitigation and solutions.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

