<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Project Management Consultancy</h1>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border ftco-animate">
          <div class="img" style="background-image: url(../../assets/image_6.jpg);"></div>
          <div class="text">
            <h3>Project Management Consultancy</h3>
            <p>We offer project and program management services from framework and methodology development to design project management governance structures. Our project management and technical advisory services cover:  </p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Vetting of design & engineering documents and project reports</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Owner’s Engineers Services / Lender’s Engineers Services</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Third party validation of project reports, project plans and project build quality.</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Procurement Assistance in the form of vendor due diligence</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Project integration and interface management</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Project monitoring services</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
