<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Environmental Consultancy</h1>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border ftco-animate">
          <div class="img" style="background-image: url(../../assets/evn2.jpg);"></div>
          <div class="text">
            <h3>Environmental Consultancy</h3>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: #ff8416"></i> Offering solutions to clients related to environmental and sustainability issues- ranging from developing tools and methodologies to assess and mitigate potential risks, identifying opportunities for environmental improvement, Environmental Permitting Process Support, Environmental Management Plan, conducting training and awareness program on environmental policy.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
