<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4">Our Services</h2>
<!--        <p>We deal with many walk of services. Few as mentioned below</p>-->
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 d-flex">
        <div class="services-2 text-center ftco-animate">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fa fa-database" style="font-size: 50px"></i> </div><br>
          <div class="text media-body">
            <h3>Business & Management</h3>
            <p>Our corporate business and strategic management consultancy cover feasibility of entering new businesses or markets, business restructuring, formation of business entities, developing strategic operating model and organizational planning</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="services-2 text-center ftco-animate">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fa fa-assistive-listening-systems" style=" font-size: 50px"></i></div><br>
          <div class="text media-body">
            <h3>Project Management</h3>
            <p>We offer project and program management services from framework and methodology development to design project management governance structures.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="services-2 text-center ftco-animate">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fa fa-pagelines" style="font-size: 50px"></i> </div><br>
          <div class="text media-body">
            <h3>Environmental Consultancy</h3>
            <p>Offering solutions to clients related to environmental and sustainability issues- ranging from developing tools and methodologies to assess and mitigate potential risks, identifying opportunities for environmental improvement, Environmental Permitting Process Support, Environmental Management Plan, conducting training and awareness program on environmental policy.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="services-2 text-center ftco-animate">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fa fa-university" style=" font-size: 50px"></i> </div><br>
          <div class="text media-body">
            <h3>Business and Professional Education Services</h3>
            <p>Offering specialized management, personal development, financial and emerging technologies courses and training in order to help professionals and businesses to reach new levels of productivity, value and growth.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
